#lightbox_modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
}

.prev_lightbox, .next_lightbox {
    position: fixed;
    border: none;
    z-index: 11;
    cursor: pointer;
}

.lightbox__next {
    background: url(../assets/icons/chevron-right-solid.svg);
    color: #901C1C;
}

.lightbox__prev {
    background: url(../assets/icons/chevron-left-solid.svg);
    color: #901C1C;
}

.lightbox__close {
    background: url(../assets/icons/close.svg);
    color: #901C1C;
}

.lightbox__container {
    width: 90%;
    margin: auto;
    max-width: 1200px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .lightbox__container img {
    width: 100%;
  }