#lightbox_modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    display: none;
    background-color: white;
}

.prev_lightbox, .next_lightbox {
    position: fixed;
    border: none;
    z-index: 11;
    cursor: pointer;
}

.next_lightbox {
    background: url(../assets/icons/chevron-right-solid.svg) no-repeat center;
    color: #901C1C;
    height: 29.64px;
    width: 48px;
    border-radius: 0px;
    position: relative;
}

.prev_lightbox {
    background: url(../assets/icons/chevron-left-solid.svg) no-repeat center;
    color: #901C1C;
    height:29.64px;
    width: 48px;
    border-radius: 0px;
    position: relative;
    
}

.close_lightbox {
    position: relative;
    background: url(../assets/icons/close.svg) no-repeat;
    color: #901C1C;
    height: 42px;
    width: 50px;
    right: 32px;
    top: 93px;
    border: none;
    align-self: baseline; 
}

.lightbox__container {
    width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .lightbox__container img {
    height: 100%;
    width: 100%;
  }

  #video_lightbox {
    display: none;
    width: 100%;
    height: 100%;
    background-color: black;
}



.lightbox__container video source {
    position: relative;
    width: 100%;
    height: 100%;
}

#title_media {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #911C1C;
}

.mediabox {
    display: flex;
    height: 80%;
    width: 80%;
    justify-content: center;
    flex-direction: column;
}