@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

h2 {
    margin: 0;
    font-style: "DM Sans";
    font-weight: 400;
    font-size: 36px;
    text-align: center;
}

.country {
    margin: 0;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
/* identical to box height */
    text-align: center;
    color: #901C1C;
}

.tagline {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: #000000;
    margin: 0;
}

.price {
    margin: 0;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 12px;
    text-align: center;
    color: #757575;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article a {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

.photographer_section article  h2 {
    color: #D3573C;
    font-size: 36px;
}

.photographer_section article a img {
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.photo {
    Width : 350px;
    Height : 300px;
}

video {
    Width : 350px;
    Height : 300px;
}

.fa-solid {
    color: #901C1C;
    font-size: 16px;
}

.under_photo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.mosaique {
    width: 33%;
}

.flexible {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 100px;
}

#sort_article {
    margin: 0 100px;
}

select {
    background: #911C1C;
    border-radius: 5px;
    color: white;
    Width : 170px;
    Height : 69px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .select-wrapper input.active, .select-dropdown:focus{
    border-bottom: 1px solid white !important;
   }

option {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: white;
    border-bottom: 3px solid #f8a100;
  }

#text_sort {
    width: 74px;
    height: 23px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
  }

#sort_article {
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
}